:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --effect-cubik: cubic-bezier(0.4, 0, 0.2, 1);
}
/* стили для index.html */
body {
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
/* убираем маркер списка */
h1,
h2,
h3,
h4,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
}

/*-------------- container----------- */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/*-------------- page-header----------- */
.page-header {
  border-bottom: 1px solid #ececec;

  background-color: #fff;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;

  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-part {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/*---------------- site-nav ----------*/
.site-nav {
  display: flex;
}
.item-nav:not(:last-child) {
  margin-right: 50px;
}

.link-nav {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--effect-cubik);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}
.link-nav.current {
  color: var(--accent-color);
}
.link-nav.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

/*--------------- contact------------ */
.contact-list {
  display: flex;
  margin-left: auto;
}
.item-contact:not(:last-child) {
  margin-right: 50px;
}

.link-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--effect-cubik);
}
.icon-contact {
  margin-right: 10px;
  fill: currentColor;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

/*-----------HERO----------- */
.hero {
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;

  background-color: #2196f3;
  color: var(--white-text-color);
  cursor: pointer;

  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*---------------- section-features------------ */
.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-item {
  width: 270px;
}

.features-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}
.features-title {
  margin-bottom: 10px;

  color: var(--titel-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list .text {
  font-size: 14px;
  line-height: 1.71;
}
/* -----------section-work----------- */
.section-work {
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;

  color: var(--titel-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work-list {
  display: flex;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-item {
  position: relative;
}
.work-box-text {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
.work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}
/* -----------section-team--------------- */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #fff;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list .title {
  margin-bottom: 10px;

  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.team-list-icon {
  display: flex;
  justify-content: center;
}
.team-item-icon {
  width: 44px;
  height: 44px;
}
.team-item-icon:not(:last-child) {
  margin-right: 10px;
}
.team-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms var(--effect-cubik),
    background-color 250ms var(--effect-cubik);
}
.team-icon {
  fill: currentColor;
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* ----------section-clients -----------*/
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms var(--effect-cubik),
    border-color 250ms var(--effect-cubik);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* -----------------footer--------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .logo {
  margin-right: 0;
  color: var(--white-text-color);
}
.footer-contact {
  margin-right: 70px;
}
.footer-list {
  margin-top: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact .address {
  color: var(--white-text-color);
  text-decoration: none;
}
.footer-contact .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--effect-cubik);
}
.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-color);
}
.footer-box {
  display: flex;
}
.footer-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-item-icon {
  width: 44px;
  height: 44px;
}
.footer-item-icon:not(:last-child) {
  margin-right: 10px;
}
.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--white-text-color);
  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--effect-cubik);
}
.footer-icon {
  fill: currentColor;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--accent-color);
}
.footer-box-form {
  margin-left: 93px;
}
.footer-form {
  display: flex;
}
.mail-form {
  width: 358px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  padding-left: 16px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  outline: transparent;
}
.mail-form::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.btn-form {
  display: flex;
  padding: 10px 28px;
}
.icon-form {
  margin-left: 10px;
}

/*---------- стили для portfolio.html------ */
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btn-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  background-color: #f5f4fa;
  color: var(--titel-text-color);
  cursor: pointer;

  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms var(--effect-cubik),
    box-shadow 250ms var(--effect-cubik);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}
.filter-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--white-text-color);
}
.filter-item:nth-child(3n) {
  margin-right: 0;
}
.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.filter-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--effect-cubik);
}
.filter-link:hover,
.filter-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--effect-cubik);

  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}
.filter-link:hover .overlay-text,
.filter-link:focus.overlay-text {
  transform: translateY(0);
}
.filter-title {
  margin-bottom: 4px;

  color: var(--titel-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-box {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.filter-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/* -----------------MODAL------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms var(--effect-cubik);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 250ms var(--effect-cubik);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--effect-cubik);
}
.btm-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--effect-cubik);
}
.btm-modal-close:hover,
.btm-modal-close:focus {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--titel-text-color);
  margin-bottom: 12px;
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms var(--effect-cubik);
}
.modal-input:focus + .svg-box {
  fill: var(--accent-color);
}
.modal-input:focus,
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-icon {
  position: relative;
  display: block;
}
.svg-box {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms var(--effect-cubik);
}
.modal-text {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms var(--effect-cubik);
}
.modal-text ::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-check {
  margin-bottom: 30px;
}
.label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
}
.checkbox:checked + .label-check span {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
}
.label-check span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--titel-text-color);
  border-radius: 2px;
  fill: transparent;
}

.label-check a {
  color: var(--accent-color);
}
.modal-btn {
  padding: 10px 55px;
  transition: background-color 250ms var(--effect-cubik);
}
.modal-btn:hover {
  background-color: #188ce8;
}
